html {
  background-color: LightGray;
}

h1 {
  text-align: center;
  color: tomato;
  letter-spacing: 3px;
}

canvas {
  border-radius: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}